.cardsCont .bg_Brown{
    background-color: darkgrey;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    width: 300px;
    height: 200px;
    margin: 2%;
}

.cardsCont .bg_Black{
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    margin-top: 24%;
    margin-left: 38%;
    width: 300px;
    height: 200px;
    margin: 2%;
}

